@page
@model Application.Web.Pages.Usersb.CreateModel
@{
    string message = ViewData["Message"] as string;
}

<h1>Create</h1>

<h4>CreateUserViewModel</h4>
<hr />
@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="alert alert-danger" role="alert">
        @message
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <partial name="_UserView" model="Model.UserViewModel" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
